{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
   {% endblock %}
{% block navbar %}
<ul> 
    <li><a href="{{ url_for('about.about') }}" class="active"> About </a> </li>
    <li><a href="{{ url_for('graph.graph') }}">Graph</a></li>
    <li><a href="{{ url_for('index') }}">Temperature</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="whitebox">
<h1> Sensor application</h1>
<p style="font-size: larger;">
    This website shows the temperature value of an ds18b22 1 wire protocol <br>
    temperature sensor which is connected to a Raspberry Pi mini computer.
</p>
</div>
{% endblock %}
